{% extends "base.html" %}

{% block content %}

    <div class="row">
      <div class="large-12 columns">
        <h1>Edit Post</h1>
      </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="row">
            <div class="large-12 columns">
                <p class="has-error">{{ message }}</p>
            </div>
        </div>
    {% endfor %}
    <form method="post" role="form" action="{{ url_for('posts.post_save') }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="large-12 columns">
                {{ form.title(placeholder="Post Title") }}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="large-4 small-6 columns">
                        <span class="prefix">http://flaconcsm.com/</span>
                    </div>
                    <div class="large-8 small-6 columns">
                        {{ form.slug(placeholder="Slug") }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                {{ form.status }}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                {{ form.change_date }}{{ form.change_date.label }}
            </div>
            <div class="large-6 columns">
                {{ form.date(placeholder="dd-mm-yyyy") }}
            </div>
            <div class="large-6 columns">
                {{ form.time(placeholder="hh:mm") }}
            </div>
        </div>
        <div class="row collapse">
            <div class="large-6 columns">
                {{ form.content(placeholder="Enter your content here...") }}
            </div>
            <div class="large-6 columns" id="preview">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button type="submit" name="submit" class="button expand radius">Submit</button>
            </div>
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Markdown.Converter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
