{% extends "base.html" %}

{% block content %}

    <div class="row">
      <div class="large-12 columns">
        <h1>Edit Post</h1>
      </div>
    </div>
    {% for message in get_flashed_messages() %}
        <div class="row">
            <div class="large-12 columns">
                <p class="has-error">{{ message }}</p>
            </div>
        </div>
    {% endfor %}
    <form method="post" action="{{ url_for('posts.post_save') }}">
        <div class="row">
            <div class="large-12 columns">
                <input type="text" id="title" name="title" value="{{ post.title }}" placeholder="Post Title" />
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <select name="status" id="status">
                    <option value="1"{% if post.status == 1 %} selected{% endif %}>Draft</option>
                    <option value="2"{% if post.status == 1 %} selected{% endif %}>Published</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <input type="checkbox" id="change-date" name="change-date" value="yes" /><label for="change-date">Edit publish date</label>
            </div>
            <div class="large-6 columns">
                <label>Publish date
                    <input type="text" id="date" name="date" placeholder="dd-mm-yyyy" value="{% if post.published %}{{ post.published.strftime('%d-%m-%Y') }}{% endif %}" />
                </label>
            </div>
            <div class="large-6 columns">
                <label>Publish time
                    <input type="text" id="time" name="time" placeholder="hh:mm" value="{% if post.published %}{{ post.published.strftime('%H:%M') }}{% endif %}" />
                </label>
            </div>
        </div>
        <div class="row collapse">
            <div class="large-6 columns">
                <textarea name="content" id="content" placeholder="Enter your content here...">{{ post.content }}</textarea>
            </div>
            <div class="large-6 columns" id="preview">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <button type="submit" name="submit" class="button expand radius">Submit</button>
            </div>
        </div>
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <input type="hidden" name="user_id" value="{{ current_user.id }}" />
    </form>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Markdown.Converter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
